*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans serif;
}
.navbar{
    height: 100vh;
    width: 100%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background: rgba(0,0,0,0.2);
   
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
   

    
}
nav ul li a{
    color:white;
    text-transform: none;
    font-weight: bold;
    text-decoration: none;
   
}
nav ul li a:hover{
    color:rgb(95, 95, 196);
    transition: .4s;
}

.wrapper{
    width: 100%;
}
.wrapper .container{
    padding-top: 1px;
}
.wrapper .container .hero-section{
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    


}
body{
    background: url(../images/bgbg.jpg) no-repeat center center/cover;
}
.wrapper .container .hero-section .gallery{
    width: 100%;
    position: relative;
}
.wrapper .container .hero-section .gallery .image-section{
    width: 100%;
}
.wrapper .container .hero-section .gallery .image-section img{
 
    display: block;
    width: 100%;
    height: auto;
padding: 5px;
}

.wrapper .container .hero-section .gallery .caption{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(255,255,255,0.5);
    color:#222;
    opacity: 0;
    transition: opacity 0.3s;
}
.wrapper .container .hero-section .gallery .caption:hover{
    opacity:1;
}


.footer-bottom{
    
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(172, 154, 154, 0.6);
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer{
    display:grid;
    height:100%;
    width:100%;
    place-items: center;
    background: linear-gradient(315deg,#ffffff,#d7e1ec);
    }
    .wrapper{
        display: inline-flex;
    }
    .wrapper .icon{
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .wrapper .icon span{
        height: 60px;
        width: 60px;
        position: relative;
        display: block;
        z-index: 2;
        background: #fff;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        text-align: center;
        border-radius: 50%;
    }
    .wrapper .icon span i{
        font-size: 25px;
        line-height: 60px;
    }
    
    .wrapper .icon .tooltip{
        position: absolute;
        top: 0px;
        color: #fff;
        background: #fff;
        font-size: 20px;
        padding: 10px 18px;
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .wrapper .icon:hover .tooltip{
        opacity: 1;
        pointer-events: auto;
        top: -70px;
    }
    .wrapper .icon:hover span{
        color:#fff;
    }
    .wrapper .icon .tooltip:before{
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #fff;
        bottom: -8px;
        left: 50%;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
        transform: translateX(-50%) rotate(45deg);
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    }
    .wrapper .facebook:hover span,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip:before{
        background: #3B5999;
    }
    .wrapper .twitter:hover span,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip:before{
        background: #46C1F6;
    }
    .wrapper .instagram:hover span,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip:before{
        background: #e1306c;
    }
    .wrapper .telegram:hover span,
    .wrapper .telegram:hover .tooltip,
    .wrapper .telegram:hover .tooltip:before{
        background: #42a3cc;
    }
    .wrapper .youtube:hover span,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip:before{
        background: #DE463B;
    }
    .wrapper .github:hover span,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip:before{
        background: #333;
    }
    .wrapper .messanger:hover span,
    .wrapper .messanger:hover .tooltip,
    .wrapper .messanger:hover .tooltip:before{
        background: rgb(17, 17, 136);
    }
    #footer{
        margin-top: 250px;
    }